div{
    background-color:red;
    color:white;
    font-size: 32px;
    text-align:center;
    font-weight: bold;
}
*{
    padding: 0;
    margin: 0;
    font-size: 40px;
}


.box-one {
    background-color:red;
    padding: 10px;
    border: 30px solid green;
    margin: 5px;
}